[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "<=4.5.4"

[packages]
setuptools-scm = "*"
nltk = "*"
kfp = "*"
gensim = "*"
pyPDF2 = "*"
pandas = "*"
krovetzstemmer = "*"
xlrd = "*"
sklearn = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
